if has nix; then
  use flake
fi

if has uv; then
  uv sync --all-groups --frozen

  export VIRTUAL_ENV="$PWD/.venv"
  PATH_add "$VIRTUAL_ENV/bin"
else
  log_error "UV not found; skipping virtual environment setup"
fi

dotenv_if_exists
